@import 'card'
@import 'hunch'
@import 'box'

.hunch-page
  .hunch-page__header
    margin-bottom: 2.5em
    border-bottom: 1px solid #dddddd

.box-page
  .box-page__header
    margin-bottom: 2.5em
    border-bottom: 1px solid #dddddd

